<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVNzM4Ah3xoN2QIG4aSRkmnFPovLqgSLw</string>
	<key>GCM_SENDER_ID</key>
	<string>559448396145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porato.Reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-6606a</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-6606a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559448396145:ios:ae0835c0633f6292a4e6d0</string>
</dict>
</plist>